---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">

          <ul>
            <li>一个喜欢吹牛的普通人</li>
            <li>ENFP人格</li>
            <li>爱自由</li>
            <li>爱折腾</li>
            <li>没啥爱好 你喜欢的我都可以喜欢都可以学</li>
            <li>反正都是半瓶醋</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">与我取得联系</h2>
        <div class="tag-post-list">
          <ul>

            <li>
            <a href="https://t.me/oooooooorange" target="_blank">Telegram</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>我常常将人看做机器，他输出了什么，常常取决于他输入了什么。</li>
            <li>屏蔽垃圾输入，寻求优质信息源， 才能输出优质信息。</li>
            <li>看到这，你已经被我的观念输入一遍了。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">胡说八道</h2>
        <div class="tag-post-list">
          <ul>
            <li>
             找个地方,然后躲起来
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
